<section class="row">
    <div class="col s12 m6">
        <article class="card">
            <div class="card-content">
                <span class="card-title">
                    aaronprojects GmbH
                </span>

                <p style="margin-bottom: 20px;">
                    Unsere Leidenschaft ist Technologie gepaart mit Empathie! Wir arbeiten gerne mit Menschen und
                    helfen, Herausforderungen im digitalen Umfeld zu lösen.
                </p>
                <p style="margin-bottom: 20px;">
                    Unsere Passion ist das digitale Business. Mit Herzblut entwickeln wir innovative Konzepte und
                    Softwarelösungen – out of the box oder individuell für Sie.
                </p>
            </div>
            <div class="card-action">
                <a href="http://www.aaronprojects.de" target="_blank">
                    <i class="fa fa-home fa-2x"></i>
                </a>
                <a href="https://github.com/aaronprojects">
                    <i class="fa fa-github fa-2x"></i>
                </a>
            </div>
        </article>
    </div>
</section>